<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="DimasCorporation\FavoritProducts\ViewModel\Display">
        <plugin name="mycompany_mymodule_plugin_modulename_foder_somemodel"
                type="DimasCorporation\FavoritProducts\Plugin\SomePlugin"  />
    </type>
</config>
